<div class="container">
  <div class="left"></div>

  <div class="center">
    <img id="background-image" src="assets/images%20/code.jpg" alt="laptop with code">
    <div>
      <img id="profile-pic" src="assets/images%20/photo-profil1.jpg" alt="profile picture">
      <div class="about-me">
        <h1 class="title">The PB Project</h1>
        <p>
          Welcome to my first-ever website ! I am really proud of this project and I hope you like this website as much
          as
          I
          do. This website was created using Three.js, a powerful library that is used to create and display 3D computer
          graphics.
        </p>
        <h2 class="title">The Purpose Of This Website</h2>
        <p>
          This website was created to entertain you and to share my passion and my love of the tech field. This website
          is
          also
          meant to attract potential freelancers, employers or partners.
        </p>

        <h2 class="title">About Me</h2>
        <p>
          Hi ! My name is Philippe Baillargeon, I'm a Canadian and I'm currently completing my bachelor's degree in
          computer science at University of Quebec at Trois-Rivières.
          I also have a college diploma in humanities, administration profile. I'm passionate about the tech field,
          entertainment medias and climbing.
        </p>
      </div>
    </div>

    <footer>
        <h2>Follow me on Github !</h2>
        <a href="https://github.com/PrestigiousP">
          <img class="icon-space" src="assets/images%20/GitHub-Mark-Light-32px.png" alt="Github icon">
        </a>
        <h2>Share to help me</h2>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Flocalhost%3A4200&layout=button&size=large&width=77&height=28&appId" width="90" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </footer>

  </div>
<!--  <div class="right">-->
<!--  </div>-->
</div>


