<div class="container">

  <div>
    <img id="background-image" src="assets/images%20/triangles.jpg" alt="background image">
    <a
      href="https://unsplash.com/photos/0aWZdK8nK2I?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink">
      photo by Ash Edmonds
    </a>

    <div
      [@contactAnimation]="isStarted ? 'start' : 'end'">
      <div class="contact">
        <mat-card-title>Contact Me</mat-card-title>
        <form class="test" (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
          <mat-card>
            <mat-card-content>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="fill" class="full-width">
                    <mat-label>First Name</mat-label>
                    <input formControlName="firstName" matInput>
                  </mat-form-field>
                </div>
                <div id="lastName" class="col">
                  <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Last Name</mat-label>
                    <input formControlName="lastName" matInput>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Email</mat-label>
                  <input formControlName="email" matInput>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Message</mat-label>
                  <textarea formControlName="message" matInput></textarea>
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
      </div>
    </div>
  </div>

  <footer>
    <h2>Follow me on Github !</h2>
    <a href="https://github.com/PrestigiousP">
      <img class="icon-space" src="assets/images%20/GitHub-Mark-Light-32px.png" alt="Github icon">
    </a>
    <h2>Share to help me</h2>
    <iframe
      src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Flocalhost%3A4200&layout=button&size=large&width=77&height=28&appId"
      width="90" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
  </footer>
</div>

