<p>
  <mat-toolbar class="menu-bar">
    <img src="assets/logo_mini2.png" alt="Logo">
    <span routerLink="" routerLinkActive="active" class="nav-button">PB Project</span>
    <button mat-button routerLink="/about-me" routerLinkActive="active"
            class="nav-button right-element" aria-label="About icon">About this project
    </button>
    <a mat-button routerLink="/contact" routerLinkActive="active"
       class="nav-button right-element" aria-label="Contact icon">Contact</a>
    <button class="fb-share-button" data-href="http://www.youtube.com" data-layout="button" data-size="small"><a
      target="_blank"
      href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A4200%2F&amp;src=sdkpreparse"
      class="fb-xfbml-parse-ignore">Partager</a>
    </button>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
<!--<app-main></app-main>-->
